<h2><i class="far fa-object-ungroup"></i>Diseña</h2>
<!--recuerda ponerlo en mayúscula-->
<div class="design__container">
  <h3>Colores</h3>
  <div class="design__container__options">
    <label for="cold">
      <input type="radio" id="cold" name="colors" value="warmcolor" value="warmcolor" checked="" />
      <div class="palette-cold">
        <span class="a"></span>
        <span class="b"></span>
        <span class="c"></span>
      </div>
    </label>
    <label for="warm">
      <input id="warm" type="radio" name="colors" value="coldcolor" checked="" />
      <div class=" palette-warm">
        <span class="a"></span>
        <span class="b"></span>
        <span class="c"></span>
      </div>
    </label>
    <label for="medium">
      <input id="medium" type="radio" name="colors" value="midiumcolor" checked="" />
      <div class="palette-medium">
        <span class="a"></span>
        <span class="b"></span>
        <span class="c"></span>
      </div>
    </label>
  </div>
</div>