<h2><i class="far fa-object-ungroup"></i>Diseña</h2>
<!--recuerda ponerlo en mayúscula-->
<h3>Colores</h3>
<label for="colors__op1">
  <input type="radio" id="colors__op1" name="colors" value="warmcolor" value="warmcolor" checked="" />.
  <div class="palette-cold">
    <span class="a"></span>
    <span class="b"></span>
    <span class="c"></span>
  </div>
</label>
<label for="colors__op2">
  <input id="colors__op2" type="radio" name="colors" value="coldcolor" checked="" /> .
  <div class=" palette-warm">
    <span class="a"></span>
    <span class="b"></span>
    <span class="c"></span>
  </div>
</label>
<label for="colors__op3">
  <input id="colors__op3" type="radio" name="colors" value="midiumcolor" checked="" /> .
  <div class="palette-medium">
    <span class="a"></span>
    <span class="b"></span>
    <span class="c"></span>
  </div>
</label>



</form>
<!-- label
input type=radio
div con 3 span
label
input type=radio
div con 3 span
label
input type=radio
div con 3 span -->

</div>