<div class="border">
  <h2 class="fill-title">
    <span><i class="far fa-keyboard"></i> rellena</span>
    <span<i class="fab fa-pagelines"></i></span>
  </h2>
  <label class="label" for="name">Nombre completo<i class="fas fa-asterisk" aria-hidden="true"></i></label>
  <input class="box js-inputName" type="text" id="name" name="name" placeholder="Ej: Jaen" required />
  <label class="label" for="job">Puesto<i class="fas fa-asterisk" aria-hidden="true"></i></label>
  <input class="box js-inputJob" type="text" id="job" name="job" placeholder="Ej: Front-End unicorn" required />
  <label class="label" for="image">Imagen de perfil<i class="fas fa-asterisk" aria-hidden="true"></i></label>
  <input class="button" type="submit" value="Añadir imagen" />
  <label class="label " for="email">Email<i class="fas fa-asterisk" aria-hidden="true"></i></label>
  <input class="box js-inputEmail" type="email" id="email" name="email" placeholder="Ej: sally-hill@gmail.com"
    required />
  <label class="label" for="phone">Teléfono</label>
  <input class="box js-phone" type="tel" id="phone" name="phone" placeholder="Ej: 555-55-55-55" />
  <label class="label" for="linkedin">Linkedin<i class="fas fa-asterisk" aria-hidden="true"></i></label>
  <input class="box js-linkedin" type="text" id="linkedin" name="linkedin" placeholder="sally-hill" required />
  <label class="label" for="github">Github<i class="fas fa-asterisk" aria-hidden="true"></i></label>
  <input class="box js-github" type="text" id="github" name="github" placeholder="sally-hill" required />
</div>