<section class="page__form">


	<form action="#" method="post"></form>
	<fieldset>
		<include src="./design.html"></include>
	</fieldset>
	<fieldset>
		<include src="./fill.html"></include>
	</fieldset>
	<fieldset>
		<h2><i class="fas fa-share-alt"></i>Comparte </h2>
		<!--recuerda ponerlo en mayúscula-->
		<div>
			<input type="submit" value="Crear tarjeta" />
			<!--ICONO COMO BACKGROUND DEL DIV-->
		</div>
	</fieldset>
	</form>

	<!-- FORM
			FIELDSET - partial
				h2: FONTAWESOME + DISEÑA
					label 
input type=radio
div con 3 span 
label 
input type=radio
div con 3 span 
label 
input type=radio
div con 3 span 
FIELDSET  partial
				h2: FONTAWESOME + rellena
					label+input…



</section>