<section class="page__form">
  <form action="/signup" method="post">
    <fieldset class="form__design">
      <include src="./design.html"></include>
    </fieldset>
    <fieldset class="form__fill">
      <include src="./fill.html"></include>
    </fieldset>

    <fieldset class="form__share">
      <h2 class="form__share__title js-accordion-title add-cursor-pointer">
        <span><i class="fas fa-share-alt"></i>Comparte</span>
        <i class="fab fa-pagelines js-accordion-icon"></i>
      </h2>
      <div class="form__share__button js-accordion-content">
        <button
          class="form__share__submit border"
          type="submit"
          value="Crear tarjeta"
        >
          <i class="far fa-address-card"></i>Crear tarjeta
        </button>
      </div>
    </fieldset>
  </form>
</section>
