<section class="app__preview">
  <div class="button-container">
    <button class="button__reset">
      <i class="far fa-trash-alt"></i><span>reset</span>
    </button>
  </div>
  <div class="app__preview--card">
    <div class="top-block">
      <div class="name_job js-border border-cold">
        <h3 class="full_name js-namePreview js-name name-cold">Jane Doe</h3>
        <h4 class="job js-jobPreview">FrontEnd Dev</h4>
      </div>
    </div>
    <div class="photo js-photo js-photo-default">
      <div class="js-frame js-frame-cold js-frame-hidden"></div>
    </div>

    <ul class="social_media js-icon icon-cold">
      <li class="phone">
        <a
          class="js-phonePreview"
          href="tel:"
          target="_blank"
          title="phone number"
          ><i class="fas fa-mobile-alt"></i
        ></a>
      </li>

      <li class="email js-emailPreview">
        <a class="" href="mailto:" target="_blank" title="email address"
          ><i class="far fa-envelope"></i
        ></a>
      </li>

      <li class="linkedin">
        <a
          class="js-linkedinPreview"
          href="https:/www.linkedin.com/in/"
          target="_blank"
          title="linkedin profile"
          ><i class="fab fa-linkedin-in"></i
        ></a>
      </li>

      <li class="github">
        <a
          class="js-githubPreview"
          href="https:/www.github.com/"
          target="_blank"
          title="github profile"
          ><i class="fab fa-github-alt"></i
        ></a>
      </li>
    </ul>
  </div>
</section>
