.app__main {
  background-image: linear-gradient($color-neutral, $color-light);
  @include tablet {
    height: calc(100vh - 170px);
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 100%;
    @include tablet {
      padding: rem(20) rem(49);
    }
    .app__preview,
    .page__form {
      grid-column: span 6;
      @include tablet {
        grid-column: span 3;
      }
    }
    .app__preview {
      @include tablet {
        order: 2;
        border-radius: rem(15);
      }
    }
  }
}
