.page__main {
  background-color: $color-neutral;
  text-align: center;
  width: 100%;

  &--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: rem(25.6);
    padding-right: rem(26.4);

    @include tablet {
      padding-left: rem(175);
      padding-right: rem(175);
    }
  }
  &--title {
    width: 250px;
    padding-top: rem(95);
    max-width: 100%;

    & img {
      width: 100%;
    }
  }

  &--subtitle {
    color: $color-main;
    font-family: $font-landing;
    font-size: $font-large;
    font-weight: 900;
  }

  &--text {
    color: $color-secondary;
    font-size: $font-xs-small;
  }

  &--container {
    width: rem(268);
    max-width: 100%;
    border-radius: rem(4);
    border: solid rem(1.6) rgba($color: $color-main, $alpha: 0.21);
    margin-top: rem(17.8);
    padding-top: rem(15);
    padding-bottom: rem(17.8);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    & i {
      color: $color-main;
      font-size: rem(22.4);
    }

    & p {
      color: $color-medium-dark;
      font-size: $font-xs-small;
    }
  }

  &--link {
    color: $color-light;
    background-color: $color-tertiary;
    font-weight: 600;
    width: rem(129);
    height: rem(42);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: rem(21);
    margin-top: rem(38.6);
    margin-bottom: rem(30);
  }
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}
